version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env.production
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend
      - ./instance:/app/instance
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: smartwatt
      POSTGRES_PASSWORD: smartpass
      POSTGRES_DB: smartwatt_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
